*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: black;
}
#string{
    width: 100%;
    height: 100px;
}
/* svg{
    background-color: brown;

} */