*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
/* #page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
#page2 h1{
    font-size: 50px;
    background-color: red;
    padding: 10px;
}
#page2 h2{
    font-size: 40px;
    background-color: yellow;
    padding: 10px;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
} */


.page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
.page2{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}
.page2 h1{
    font-size: 40vw;
    text-transform: uppercase;
    
}
.page3{
    height: 100%;
    width: 100%;
    background-color: black;
}