@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
    background-color: black;
}
#main{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1594156596782-656c93e4d504?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdWR5fGVufDB8fDB8fHww);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: white;
}
#nav h2{
    font-size: 30px;
}
#nav i{
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
}
#full{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.253);
    top: 0;
    /* screen se chupany k liye right se utna hi minus krna hai jitni width di hai aur overflow hidden */
    right: -40%;
    /* filter: blur(30px); */
    backdrop-filter: blur(10px); 
    padding: 100px 60px;
}
#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;

}
#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}