*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
#box{
    width: 300px;
    height: 300px;
    background-color: green;
}
#box1{
    width: 300px;
    height: 300px;
    background-color: red;
}
#box2{
    width: 300px;
    height: 300px;
    background-color: royalblue;
}

#nav{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;
    font-weight: bold;
}
#part2{
    display: flex;
    gap: 30px;
}
#part2 h4{
    cursor: pointer;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}