*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

main{
  height: 100vh;
  width: 100%;
  /* background-color: #111; */
  padding: 20px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* overflow: hidden; */
}

.container{
  padding: 20px;
  border: 3px solid white;
  border-radius: 20px;
}

.circle{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 10px;
  background: linear-gradient(to right bottom, lightblue,cadetblue);
}
.box{
  height: 300px;
  width: 300px;
  margin: 10px;
  background: linear-gradient(to right bottom, rgb(180, 100, 116),rgb(245, 12, 59));
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
}

button{
  padding: 20px 100px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(lightgreen,seagreen);
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  z-index: 100;
}
button:active{
  scale:0.96;
}

img{
  mix-blend-mode: darken;
  cursor: pointer;
}